.newfooter {
  padding: 4rem 6rem 3rem;
  background-color: #f2f2f2;
}

.newfooter-box-left .logo {
  background-image: url("https://enterpriseleague.com/public/img/logo-transparent.webp");
  width: 15rem;
  height: 7rem;
  background-size: 15rem;
  display: inline-block;
  background-repeat: no-repeat;
}

.newfooter-box {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.newfooter-box-left {
  flex: 0 0 32%;
}

.newfooter-box-left p {
  font-family: "Roboto" sans-serif;
  color: #777;
  font-size: 14px;
  padding: 28px 0px;
  margin: 0;
}

.newfooter-box-left .world-image {
  background-image: url("https://enterpriseleague.com/public/img/icons/world_image.png");
  width: 6em;
  height: 4em;
  background-size: 6em 4em;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 15px;
}

.newfooter-box-left .icons {
  padding: 40px 0;
}

.newfooter-box-left .icons a {
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem 1.5rem;
  display: inline-block;
  margin-right: 36px;
}

.newfooter-box-left .icons .facebook-icon {
  background-image: url("https://enterpriseleague.com/public/img/icons/social-media-icons/Icon metro-facebook.png");
}

.newfooter-box-left .icons .instagram-icon {
  background-image: url("https://enterpriseleague.com/public/img/icons/social-media-icons/Icon simple-instagram.png");
}

.newfooter-box-left .icons .twitter-icon {
  background-image: url("https://enterpriseleague.com/public/img/icons/social-media-icons/Icon simple-twitter.png");
}

.newfooter-box-left .icons .linkedin-icon {
  background-image: url("https://enterpriseleague.com/public/img/icons/social-media-icons/Icon awesome-linkedin.png");
}

.newfooter-box-right {
  display: flex;
  color: #414141;
  flex: 0 0 42%;
}

.newfooter-box-right-block {
  padding: 0 40px;
}

.newfooter-box-right-block span {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #2189d1;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Roboto" sans-serif;
}

.newfooter-box-right ul {
  list-style: none;
  font-weight: 400;
}

.newfooter-box-right ul li {
  padding-top: 20px;
  font-size: 15px;
}

.newfooter-box-right ul a {
  color: #414141;
  text-decoration: none;
  font-family: "Roboto";
}

.newfooter-box-right ul a:hover {
  color: #8c8c8c;
}

.newfooter-box-right .block {
  display: flex;
}

.newfooter-box-right .block {
  display: flex;
}

.newfooter .copyright {
  border-top: 2px solid #70707070;
  padding-top: 38px;
}

.newfooter .copyright p {
  font-size: 12px;
  text-align: center;
  font-family: "Roboto" sans-serif;
  color: #777;
  margin: 0;
}

@media (max-width: 900px) {
  .newfooter-box {
    flex-direction: column;
    align-items: center;
  }

  .newfooter-box-right {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .newfooter {
    padding: 4rem 3rem 3rem;
  }

  .newfooter .newfooter-box {
    flex-direction: column;
  }

  .newfooter-box .newfooter-box-left {
    text-align: center;
  }

  .newfooter-box .newfooter-box-left p {
    font-size: 12px;
  }

  .newfooter-box .newfooter-box-right {
    justify-content: space-around;
  }

  .newfooter-box-right .newfooter-box-right-block {
    padding: 0;
  }

  .newfooter-box-right .block {
    flex-direction: column;
    padding-left: 15px;
  }

  .newfooter-box-right .block div:nth-child(2) {
    padding-top: 24px;
  }
}
